@import "bootstrap/bootstrap.less";
@import "iconsRankoFinanse/style.less";
@import "sconnect.less";

/// ZMIENNE ///
@font-family-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;

@rankoBlue: #3d8ace;

a, li, .imgBox, .hBox {
    .transition(all 0.4s ease-out);
}

.category #mainContent {
    background: #F5f5f5;
}

body.category {
    background: #F5f5f5;
}

// Buttony
.btn {
    font-weight: 700;
    text-transform: uppercase;

    // &:hover,
    // &.hover {
    //     opacity: 0.75;
    //     border-color: rgba(0, 0, 0, 0);
    // }

    &:hover,
    &.hover,
    &:active,
    &.active,
    &:focus,
    &.focus,
    &:active:hover,
    &.active:hover,
    &:active:focus,
    &:active.focus,
    &.active:focus {
        outline: 0 !important;
        outline: none !important;
    }
}

.btn-warning {
    background-color: #F19E34;
    border: 2px solid #F19E34;

    &:hover,
    &.hover,
    &:active,
    &.active,
    &:focus,
    &.focus,
    &:active:hover,
    &.active:hover,
    &:active:focus,
    &:active.focus,
    &.active:focus {
        background-color: darken(#F19E34, 10%);
        border: 2px solid darken(#F19E34, 10%);
        // #gradient.vertical(@start-color: #FFC34C; @end-color: #FF930D; @start-percent: 0%; @end-percent: 100%);
    }
}

.btn-success {
    background-color: #5CB85C;
    border: 2px solid #5CB85C;

    &:hover,
    &.hover,
    &:active,
    &.active,
    &:focus,
    &.focus,
    &:active:hover,
    &.active:hover,
    &:active:focus,
    &:active.focus,
    &.active:focus {
        background-color: darken(#5CB85C, 10%) !important;
        border: 2px solid darken(#5CB85C, 10%);
        // text-shadow: 0px 1px 0px #53A653 !important;
        // box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5) inset, 0px 1px 0px 0px #D5D5D5;
        // #gradient.vertical(@start-color: #75d575; @end-color: #5cb85c; @start-percent: 0%; @end-percent: 100%);
    }
}

.btn-danger {
    background-color: #d9534f;
    border: 2px solid #d9534f;

    &:hover,
    &.hover,
    &:active,
    &.active,
    &:focus,
    &.focus,
    &:active:hover,
    &.active:hover,
    &:active:focus,
    &:active.focus,
    &.active:focus {
        background-color: darken(#d9534f, 10%);
        border: 2px solid darken(#d9534f, 10%);
        // #gradient.vertical(@start-color: #FF6662; @end-color: #E43F3A; @start-percent: 0%; @end-percent: 100%);
    }
}

// Header Strony
.navbar-brand img {
    height: 26px;
}

.navbar-brand {
    height: inherit;
    padding: 30px 15px;
}

.navbar {
    min-height: 70px;
    margin-bottom: 0;
}

.navbar-default {
    background-color: #FFF;
    border-color: #FFF;
    border: 0;
}

.navbar-default .navbar-nav > li > a {
    padding: 33px 15px;
}

/* MENU */
#mainMenu {
    background: @rankoBlue;

    #mainMenuList {

        >li > a {
            color: #fff;
            font-weight: 700;
            font-size: 16px;
            padding: 15px 25px;
        }

        .dropdown-menu {
            padding: 0;
            margin: 0px 0 0;
            background-color: #2C669A;
            border: 0px solid #2C669A;

            li {
                border-bottom: 1px solid #3F74A3;

                &:last-child {
                    border-bottom: 0;
                }

                >a {
                    color: #fff;
                    padding: 10px 20px;

                    &:hover,
                    &:focus {
                        text-decoration: none;
                        color: #FFF;
                        background-color: #F19E34;
                    }
                }
            }
        }
    }
}

#menu-menu-gorne {
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

/* Socials top */
.header_social {
    margin-left: 20px;

    a {
        padding: 28px 0 !important;
        margin-right: 10px;
    }

    i {
        background: rgba(61, 138, 206, 0);
        width: 30px;
        height: 30px;
        display: block;
        text-align: center;
        line-height: 27px;
        border-width: 2px;
        border-style: solid;
        border-radius: 4px;


        &.icon-facebook {
            border-color: #3b5997;
            color: #3b5997;

            &:hover {
                background: #3b5997;
                color: #fff;
            }
        }

        &.icon-twitter {
            border-color: #2daae1;
            color: #2daae1;

            &:hover {
                background: #2daae1;
                color: #fff;
            }
        }

        &.icon-google-plus {
            border-color: #ca2026;
            color: #ca2026;

            &:hover {
                background: #ca2026;
                color: #fff;
            }
        }
    }
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #2C669A;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #2C669A;
}

@media (min-width: 768px) {
    .navbar-nav > li {
        float: left;
        border-right: 1px solid rgba(255, 255, 255, 0.15);
    }
}

/* Menu responsive */
.navbar-collapse {
    border-top: 0;
    .visible-xs {
        ul {
            li {
                a {
                    color: #fff;
                    font-weight: 700;
                    font-size: 14px;
                    padding: 15px 25px;
                }
            }
        }

    }
}

/* Hero zone */
#heroZone {
    background: #ddd;
    background: url('../images/hero_pattern.png');
    height: 475px;
    // #gradient.vertical(@start-color: #f5f5f5; @end-color: #d5d5d5; @start-percent: 0%; @end-percent: 100%);
    position: relative;
}

#heroZone:before {
    content: '';
    #gradient.vertical(@start-color: rgba(255, 255, 255, 0.3); @end-color: rgba(170, 170, 170, 0.49); @start-percent: 0%; @end-percent: 100%);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
}

.heroPhoto img {
    position: absolute;
    top: 45px;
    right: 0;
    width: 324px;
}

#heroZone .container {
    position: relative;
}

.heroTitles {
    margin: 40px 0 40px 0;

    h1 {
        font-size: 40px;
        font-weight: 700;
        letter-spacing: -1px;
        margin-bottom: 20px;
    }

    p {
        font-size: 22px;
        margin: 5px 0 5px 0;

        span {
            font-weight: 700;
            color: @rankoBlue;
        }
    }
}

.heroBoxes .row {
    padding-left: 15px;
}

.hBox {
    background: #fff;
    margin-right: 20px;
    padding: 15px 20px 20px 20px;
    border: 1px solid #FFF;
    border-radius: 4px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);

    &:hover {
        box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
    }

    .btn {
        float: right;
        margin-bottom: 0;

        i {
            margin-left: 12px;
        }
    }

    .imgBox {
        position: absolute;
        top: 20px;
        right: 20px;
        opacity: 0.4;
        display: none;

        img {
            width: 50px;
        }
    }
}

.hBox:last-child {
    margin-right: 10px;
}

.hTitle {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 0;

    .hSubTitle {
        font-size: 14px;
        text-transform: uppercase;
        display: block;
        margin-top: 10px;
        font-weight: 400;
    }
}



.hBox hr {
    border-color: rgba(61, 138, 206, 0.5);
    margin: 15px 0 15px 0;
}

ul.hBoxList {
    list-style: none;
    padding-left: 0;

    li {
        padding: 2px 0px;
    }
}

ul.hBoxList i {
    margin-right: 5px;
    color: @rankoBlue;
}

/* Loga pod hero */
#offerLogos .container {
    padding: 40px 0;
}

#offerLogos ul {
    margin: 0;
}

#offerLogos .lSSlideOuter {
    margin-bottom: 0;
    box-shadow: none;
    border-radius: 0;
}

#otherServices .container {

}

#otherServices .list-inline {
    text-align: center;
}

#otherServices ul {
    padding: 30px 0 0 0;
    margin-bottom: 0;
}

#otherServices img {
    width: 120px;
}

#otherServices li {
    margin-right: 125px;
    padding: 0;
    .opacity(1);

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        .opacity(0.8);
    }
}


#otherServices h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}

#offerLogos img {
    width: 85px;
}

#offerLogos li {
    margin-right: 44px;
    padding: 0;
    .opacity(0.6);

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        .opacity(1);
    }
}

.category {
    .page-header {
        padding-bottom: 0;
        border: 0;
        margin: 15px 0 25px 0;
        position: relative;
        text-align: center;

        &::before {
            content: '';
            display: block;
            border: 2px solid rgba(0, 0, 0, 0.15);
            top: 27px;
            position: relative;
            z-index: 1;
        }

        h1 {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 0;
            margin-top: 0;
            display: inline-block;
            background: #F5F5F5;
            padding: 0 20px 0 20px;
            color: #3D8ACE;
            z-index: 9;
            position: relative;
        }
    }
}

#activePromos,
#sectionArticles,
#activeOpinions,
#otherServices {

    .page-header {
        padding-bottom: 0;
        border: 0;
        margin: 20px 0 40px 0;
        position: relative;
        text-align: center;

        &::before {
            content: '';
            display: block;
            border: 2px solid rgba(0, 0, 0, 0.15);
            top: 16px;
            position: relative;
            z-index: 1;
        }

        h2 {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 0;
            margin-top: 0;
            display: inline-block;
            background: #fff;
            padding: 0 20px 0 20px;
            color: #3D8ACE;
            z-index: 9;
            position: relative;
        }

        .linkMore {
            color: @rankoBlue;
            font-size: 13px;
            position: absolute;
            top: -4px;
            right: 0;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

#sectionArticles {
    .page-header {
        h2 {
            background: #f5f5f5;
        }
    }
}

#activePromos {
    .page-header {
        h2 {
            color: #D9534F;
        }

        .linkMore {
            color: #D9534F;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}


// #sectionArticles {
//     background: #f5f5f5;
//     padding: 70px 0;
// }

#bestOffers, #activePromos, #sectionArticles, #activeOpinions {
    padding: 45px 0;
}

#bestOffers {
    background: #2C669A;
}

#sectionArticles {
    background: #f5f5f5;
}

.promoBox,
.artBox,
.boxArticle {
    .thumbnail {
        background: #fff;
        border: 0;
        padding: 0;
        border-bottom: 0;
        overflow: hidden !important;
        position: relative;
        box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
        transition: all .15s ease-out;
        min-height: 373px;

        &:hover {
            box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.1);
            transition: all .15s ease-out;
        }

        .caption {
            padding: 18px;
        }

        h4 {
            font-weight: 700;
            font-size: 16px;
            min-height: 36px;
            line-height: 20px;
            margin-top: 0;
        }

        .boxDate {
            font-size: 11px;
            display: block;
            margin-bottom: 10px;
        }

        p {
            font-size: 13px;
            min-height: 90px;
        }

        .btn {
            font-size: 12px;
            margin: 0;
        }

    }
}

.promoBox {
    .thumbnail {
        box-shadow: none;
        transition: all .15s ease-out;
        border: 3px solid #F0F0F0;

        &:hover {
            box-shadow: 6px 6px 0px #ececec;
            transition: all .15s ease-out;
        }

        h4 {
            min-height: 60px;
            a {
                color: #D9534F;
            }
        }

        p {
            min-height: 90px;
        }

    }
}

.boxArticle {

    .thumbnail {
        margin-bottom: 35px;
    }

    .boxArticleMeta {
        font-size: 11px;
        display: block;
        margin-bottom: 10px;
    }

    h3 {
        margin: 0 0 10px 0;
        line-height: 26px;
        font-size: 22px;
        min-height: 78px;

        a {
            color: @rankoBlue;
            font-weight: 700;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    p {
        min-height: 80px;
    }

    .btn {
        margin-bottom: 0;
    }
}

.category-promocje {
    .boxArticle {
        h3 {
            a {
                color: #D9534F;
                font-weight: 700;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .btn-success {
            background-color: #d9534f;
            border: 2px solid #d9534f;

            &:hover,
            &.hover,
            &:active,
            &.active,
            &:focus,
            &.focus,
            &:active:hover,
            &.active:hover,
            &:active:focus,
            &:active.focus,
            &.active:focus {
                background-color: darken(#d9534f, 10%) !important;
                border: 2px solid darken(#d9534f, 10%);
            }
        }
    }

}

.spoke_cloud {
    background-image: url('../images/chmurka_ania.png');
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    height: 156px;
    top: 0;
    left: 100px;
    padding-top: 20px;
    padding-left: 44px;
    padding-right: 20px;
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -1px;
    line-height: 23px;
}

.articleBoxIntro {
    img {
        position: relative;
        bottom: -55px;
        left: 0;
    }

    .spoke_cloud {
       position: absolute;
       top: 0px;
    }

}

footer {
    background: #444;
    margin-top: 70px;

    .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .subFooter {
        .container {
            padding: 0;
        }
    }

    a {
        color: #B5B5B5;

        &:hover {
            color: #fff;
        }
    }

    hr {
        border-color: rgba(255, 255, 255, 0.15);
    }

    .footWidget {

        strong {
            font-size: 18px;
            color: #fff;
            display: block;
            border-bottom: 2px solid rgba(255, 255, 255, 0.1);
            padding-bottom: 5px;
        }

        .widget_content {
            color: #B5B5B5;
            padding-top: 15px;
        }

        .textwidget {
            margin-bottom: 25px;
        }

        ul {
            padding-left: 0;
            list-style: none;

            li {
                margin-bottom: 5px;

                a {
                    &::before {
                        content: '»';
                        margin-right: 5px;
                        display: inline-block;
                        position: relative;
                        bottom: 1px;
                    }
                }
            }
        }

        &:first-child {
            ul {
                list-style: none;
                padding-left: 25px;

                li {
                    margin-bottom: 2px;

                    &::before {
                        content: '\e905';
                        display: inline-block;
                        position: relative;
                        font-family: 'iconsRankoFinanse' !important;
                        margin-left: -25px;
                        margin-right: 16px;
                        background: rgba(255, 0, 0, 0);
                        width: 25px;
                        height: 25px;
                        text-align: center;
                        line-height: 22px;
                        top: 2px;
                        font-size: 14px;
                    }

                }
            }
        }
    }

    .footer_socials {
        a {
            color: #B5B5B5;
            display: inline-block;
            margin-right: 8px;

            &:hover {
                text-decoration: none;
                color: #FFF;
            }
        }

        i {
            background: rgba(61,138,206,0);
            width: 30px;
            height: 30px;
            display: block;
            text-align: center;
            line-height: 27px;
            border-width: 2px;
            border-style: solid;
            border-radius: 4px;
        }
    }

    .cookie {
        font-size: 11px;
        margin-top: 40px;
        color: #999;

        a {
            color: #DDD;
        }
    }

    .copyright {
        font-size: 12px;
        color: #b5b5b5;
        padding: 13px 0 5px;
        background: #343434;
    }
}

.opinionBox {
    margin-top: 20px;
}

#activeOpinions {

    blockquote {
        padding: 35px 20px 20px 20px;
        margin: 0 0 20px;
        font-size: 17px;
        border: 1px solid #E3EBF1 !important;
        background: #E3EBF1;
        border-radius: 5px;
        color: #285A86;
        box-shadow: 3px 3px 0px #CADDEC;

        &:before {
            content: "\e903";
            font-family: 'iconsRankoFinanse' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            position: absolute;
            top: -20px;
            left: 35px;
            color: #5F98CA;
            font-size: 40px;
        }

        footer,
        small,
        .small {
            background: transparent;
            text-align: right;
            color: inherit;
            margin-top: 0;
        }
    }

    p {
        font-size: 13px;
        min-height: 160px;
    }
}

.boTitles {
    margin-bottom: 20px;

    h2 {
        font-weight: 700;
        margin-top: 10px;
        color: #fff;
    }

    p {
        margin-bottom: 0;
        color: #fff;
    }
}

.heroDreams {
    position: absolute;
    top: 15px;
    right: 260px;
    width: 319px;
    height: 192px;

    .lSSlideOuter .lSSlideWrapper {
        background: rgba(0, 0, 0, 0);
    }

}

.slider_arrows {
    top: 140px;
    position: relative;
}

.sla_left {
    transform: rotate(-180deg);
    display: inline-block;
    left: -13px;
    position: absolute;
    width: 50px;
    height: 50px;
    background: #2C669A;
    text-align: center;
    line-height: 54px;
    color: #FFF;
    border-radius: 3px;
    cursor: pointer;
    z-index: 2;
    transition: all 0.3s ease;

    i {
        left: 2px;
        position: relative;
        top: 1px;
        font-size: 20px;
    }

    &:hover {
        background: #3D8ACE;
        transition: all 0.3s ease;
    }
}

.sla_right {
    display: inline-block;
    float: right;
    right: -14px;
    position: absolute;
    width: 50px;
    height: 50px;
    background: #2C669A;
    text-align: center;
    line-height: 54px;
    color: #FFF;
    border-radius: 3px;
    cursor: pointer;
    z-index: 2;
    transition: all 0.3s ease;

    i {
        right: -1px;
        position: relative;
        top: 1px;
        font-size: 20px;
    }

    &:hover {
        background: #3D8ACE;
        transition: all 0.3s ease;
    }
}


/* SLIDER OFERT */
.lSSlideOuter {
    margin-bottom:20px;
    box-shadow: 3px 3px 0px #27547C;
    border-radius: 3px;

    .lSSlideWrapper {
        background: #fff;
        border-radius: 3px;
    }

    .lSAction {
        display: none !important;
    }

    .sliderContentWrapper {
        padding: 25px 50px 0 0;

        img {
            width: 130px;
        }

        .offerNotice {
            margin-top: 5px;
        }

        p {
            font-size: 16px;
            margin-top: 5px;
        }

        > p {
            img {
                float: right;
            }
        }

        ul.boSlideList {
            padding-left: 0;
            list-style: none;
            font-size: 20px;
            margin-top: 20px;

            li {
                margin-bottom: 10px;
            }

            .icon-check {
                background: @rankoBlue;
                width: 25px;
                height: 25px;
                border-radius: 30px;
                display: inline-block;
                line-height: 25px;
                text-align: center;
                margin-right: 20px;
                color: #fff;
                font-size: 12px;
            }
        }
    }

    .boSlideHeader {
        font-size: 28px;
        font-weight: 700;
        color: @rankoBlue;
    }

    .slider_image {
        position: relative;

        &:before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 80px 160px 0;
            border-color: rgba(0, 0, 0, 0) #FFF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
            line-height: 0px;
            _border-color: #000000 #007bff #000000 #000000;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
            position: absolute;
            right: 50px;
            top: 0;
            content: "";
        }

        &:after {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 160px 80px;
            border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFF rgba(0, 0, 0, 0);
            line-height: 0px;
            _border-color: #000000 #000000 #007bff #000000;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
            position: absolute;
            right: 50px;
            bottom: 0;
            content: "";
        }
    }
}

.sliderTabs {
    padding-left: 15px;
    padding-right: 15px;

    .col-md-4 {
        padding-left: 0;
        padding-right: 0;
    }

    #linkSlider1 {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        box-shadow: 3px 3px 0px #27547C;
    }

    #linkSlider2 {
        border-radius: 0;
        box-shadow: 3px 3px 0px #27547C;
    }

    #linkSlider3 {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-right: 0 !important;
        box-shadow: 3px 3px 0px #27547C;
    }

    .btn-default {
        background: #FFF;
        border: 0;
        font-weight: 700;
        border-right: 1px solid rgba(44, 102, 154, 0.4) !important;
        color: #3D8ACE;

        span {
            font-weight: 400;
            font-size: 11px;
            display: block;
        }

        &:hover,
        &:focus {
            color: #27547C;
            outline: none !important;
            outline: 0;
        }

        &.active {
            background: #519CDE;
            color: #fff;
            outline: none !important;
            outline: 0;

            &:hover {
                opacity: 1;
            }
        }
    }
}

// Sidebar
.box_widget {
    background: #F5F5F5;
    padding: 0px 20px 20px 20px;
    margin-bottom: 40px;
    border-radius: 3px;
    box-shadow: 3px 3px 0 #e5e5e5;

    .widget_title {
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 20px;
        color: @rankoBlue;
        background: rgba(228, 228, 228, 0);
        display: block;
        padding: 25px 0 0px 0;

        &:after {
            content: "";
            border-bottom: 2px solid @rankoBlue;
            display: block;
            width: 100%;
            padding-bottom: 7px;
            position: relative;
            margin-left: 1px;
        }
    }

    p {
        font-size: 13px;
    }

    .poradnik_title,
    .promo_title {
        font-size: 13px;
        font-weight: 700;
        color: #333;
        margin-bottom: 5px;
        display: block;

    }

    .promo_title {
        margin-bottom: 30px;
        margin-top: 10px;

        a {
            color: #333;
        }
    }

    .poradnik_row,
    .promo_row {
        margin-bottom: 25px;
        border-bottom: 2px solid #E5E5E5;
        padding-bottom: 16px;

        &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
        }

        img {
            margin-bottom: 10px;
        }

        p {
            font-size: 12px;
        }

        .btn-success {
            padding: 4px 10px;
            font-size: 11px;
            letter-spacing: 0.5px;
            float: right;
        }
    }
}

#text-7 {
    ul {
        list-style: none;
        padding-left: 22px;

        li {
            margin-bottom: 10px;
            font-size: 13px;
            position: relative;
            clear: both;

            &::before {
                content: '\e905';
                display: inline-block;
                position: relative;
                font-family: 'iconsRankoFinanse' !important;
                margin-left: -25px;
                margin-right: 16px;
                background: rgba(255,0,0,0);
                width: 25px;
                height: 40px;
                text-align: center;
                line-height: 22px;
                top: 2px;
                font-size: 16px;
                float: left;
                color: #3D8ACE;
            }
        }
    }
}

.box_widget {
    .promo_title {
        margin-bottom: 5px;
    }
}


#mainContent {

    .container {
        padding-top: 50px;

        h1 {
            margin-top: 0;
            margin-bottom: 25px;
            line-height: 50px;
            font-size: 35px;
            font-weight: 700;
            text-transform: uppercase;
        }

        .content_meta {
            margin-bottom: 20px;
            color: #999;
            border-top: 1px solid #E4E4E4;
            padding-top: 12px;

            a {
                color: #999;
            }
        }

        .article_main_img {
            margin-bottom: 30px;
        }

    }

    &.single_post {
        h1 {
            margin-top: 0;
            margin-bottom: 15px;
            line-height: 45px;
            font-size: 35px;
            font-weight: 700;
            text-transform: none;
        }

        .single_post_content {
            p {
                margin-bottom: 15px;
                line-height: 23px;

                img {
                    display: block;
                    max-width: 100%;
                    height: auto;
                }
            }

        }
    }

    .page_content {
        .offers_container {
            margin-top: 35px;
        }
    }
}

/* Podobne wpisy */
.under_content + .row .thumbnail {
    min-height: initial;

    h4 {
        font-size: 14px;
    }

    .btn {
        font-size: 11px;
        padding: 5px 5px;
    }
}

.under_content,
.comments_header {
    border-bottom: 2px solid rgba(90, 157, 216, 0.35);
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #3D8ACE;
    margin-bottom: 25px;
    margin-top: 50px;
}


.rankServices {
    a {
        margin: 0 30px;
    }
}

.rankFooterGrants {
    background: #FFF;
}

// Pagination
.pagination > li > a,
.pagination > li > span {
    border-radius: 0;
    color: #337ab7;
    border: 1px solid #98C0E2;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #98C0E2;
    border-color: #98C0E2;
}

// Article socials share
.socials {
    text-align: left;
    margin-top: 45px;

    .social_header {
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 20px;
        display: inline;
        margin-right: 20px;
    }

    a {
        display: inline-block;
        background: #F00;
        width: 30px;
        height: 30px;
        line-height: 30px;
        color: #fff;
        border-radius: 4px;
        margin-right: 5px;
        text-align: center;

        &.share-facebook {
            background-color: #3b5997;
        }

        &.share-twitter {
            background: #2daae1;
        }

        &.share-google-plus {
            background-color: #ca2026;
        }
    }

    a:hover {
        text-decoration: none;
    }
}

.promoBonus {
    position: absolute;
    display: block;
    background: #E94742;
    color: #fff;
    font-weight: 700;
    padding: 2px 30px;
    font-size: 13px;
    transform: rotate(-45deg);
    top: 15px;
    left: -25px;
}

.navbar-toggle {
    margin-top: 26px;
    margin-bottom: 26px;
}

////// RESPONSIVE STYLES /////

@media all and (max-width: 1200px) {
    .promoBox {
        .thumbnail {
            min-height: 455px;

            h4 {
               min-height: 40px;
            }

            p {
                min-height: 70px !important;
            }
        }
    }
}

@media all and (min-width: 1200px) {
    .hBox {
        width: 22%;
    }
}

@media all and (min-width: 993px) and (max-width: 1200px) {

    .heroDreams {
        display: none;
    }

    .heroBoxes {
        z-index: 2;
        position: relative;
    }

    ul {
        &.hBoxList {
            min-height: 92px;
        }
    }

    .heroPhoto img {
        z-index: 1;
    }

    .lSSlideOuter .slider_image {
        overflow: hidden;
    }

    .lSSlideOuter .slider_image:before, .lSSlideOuter .slider_image:after {
        right: 0;
    }

    .lSSlideOuter .sliderContentWrapper {
        padding: 25px 50px 0 25px;
    }

    .promoBox .thumbnail p, .artBox .thumbnail p {
        min-height: 110px;
    }

    .navbar-brand img {
        height: 20px;
    }
}

@media all and (max-width: 992px) {
    .heroDreams {
        display: none;
    }

    .heroBoxes {
        z-index: 2;
        position: relative;
    }

    .heroBoxes .row {
        padding-left: 0;
    }

    .heroPhoto {
        display: none;
    }

    ul.hBoxList li {
        font-size: 12px;
    }

    .hBox {
        width: 30%;
    }

    .lSSlideOuter .slider_image {
        overflow: hidden;
    }

    .lSSlideOuter .slider_image:before, .lSSlideOuter .slider_image:after {
        right: 0;
    }

    .lSSlideOuter .sliderContentWrapper {
        padding: 25px 50px 0 25px;
    }

    .lSSlideOuter .boSlideHeader {
        font-size: 20px;
        line-height: 25px;
    }

    .lSSlideOuter .sliderContentWrapper img {
        width: 80px;
    }

    .lSSlideOuter .sliderContentWrapper p {
        font-size: 14px;
        margin-top: 10px;
    }

    .lSSlideOuter .sliderContentWrapper ul.boSlideList {
        font-size: 16px;
    }

    .sliderTabs .btn-default span {
        display: none;
    }

    .sliderTabs .btn-default {
        font-size: 12px;
        letter-spacing: 0.5px;
    }

    #mainMenu #mainMenuList > li > a {
        font-size: 14px;
    }

    .hBox:first-child {
        margin-left: 15px;
    }

    .promoBox {
        .thumbnail {
            min-height: 410px;
        }
    }

}

@media all and (min-width: 768px) and (max-width: 992px) {

    .navbar-brand img {
        height: 20px;
    }
}

// @media all and (min-width: 500px) and (max-width: 767px) {
//
// }

@media all and (max-width: 767px) {

    #heroZone {
        height: auto;
        position: relative;
    }

    .hBox {
        width: 95%;
        margin-left: 15px;
        margin-bottom: 30px;

        .hTitle {
            position: relative;
            float: left;
            width: 50%;
        }

        ul.hBoxList {
            position: relative;
            float: left;
            width: 50%;
        }

        .btn {
            position: relative;
            float: left;
            width: 100%;
        }

        hr {
            display: none;
        }
    }

    .heroTitles h1,
    .heroTitles p {
        text-align: center;
    }

    .heroTitles h1 {
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 0;
    }

    .heroTitles p {
        font-size: 18px;
    }

    .navbar-default {
        border-bottom: 1px solid #E5e5e5;
    }

    #activePromos .page-header h2, #activeOpinions .page-header h2, #otherServices .page-header h2 {
        font-size: 16px;
    }

    #activePromos .page-header::before, #activeOpinions .page-header::before, #otherServices .page-header::before {
        top: 11px;
    }

}

@media all and (max-width: 600px) {

    .opinionBox {
        width: 100%;
    }

    #activeOpinions p {
        min-height: auto;
    }

    #activeOpinions blockquote {
        margin-bottom: 25px;
    }

    .hBox {
        width: 94%;
    }
}

// @media all and (max-height: 700px) {
//
// }

@media all and (max-width: 500px) {

}

@media all and (max-width: 450px) {

    .hBox {
        width: 93%;
    }

    .navbar-brand img {
        height: 23px;
    }

}

@media all and (max-width: 380px) {

}


@media all and (max-width: 340px) {

}
