/* SOWA CONNECT */

.listing-item .offer_title {
    background: #5e95c5;
    color: #fff;
    margin: -20px -20px 15px -20px;
}

.listing-item .offer_title .rank_order {
    display: inline-block;
    width: 35px;
    text-align: center;
    font-weight: 900;
    font-size: 16px;
    background: #396f9e;
    margin-left: -15px;
    margin-top: 0px;
    padding: 11px 7px;
    line-height: 7px;
}

.listing-item .offer_title .offer_header {
    font-size: 13px;
    margin-left: 10px;
}

.listing-item {
    background: #FFF;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    position: relative;
    font-family: @font-family-sans-serif;
}

.separator_after_offers {
    display: block;
    height: 40px;
}

.page_content {
    margin-bottom: 50px;
}

.listing-item .tab_contents {
    font-family: Arial, Helvetica Neue, sans-serif;
}

.listing-item .tab_content {
    display: none;
    padding: 20px;
    color: #333;
}

.mb-20 {
    margin-bottom: 20px;
}

.listing-item .offer_inner {
    padding: 20px 20px 0px 20px;
}

.listing-item .tab_headings {
    margin-left: -35px;
    margin-right: -35px;
}

.listing-item .tab_headings .btn-default {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: #ddd;
    font-size: 13px;
    border-right: 1px solid #C5c5c5;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    color: #666;
    padding: 5px 20px;
    font-weight: 400;
    text-transform: none;
}

.listing-item .tab_headings .btn {
    margin: 10px 0 0 0;
}

.col_align.align_middle {
    vertical-align: middle;
}

.padding-hor-5 {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.col_align {
    display: inline-block;
    float: none;
}

h3 {
    font-size: 24px;
}

.listing-item .upper_params .param_label, .listing-item .max_params .param_label {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    text-align: center;
}

.listing-item .upper_params .cost_params_feat, .listing-item .upper_params .bottom_rrso_params {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.5px;
    color: #5e95c5;
}

.listing-item .upper_params .cost_params_feat span {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: -0.5px;
    color: #5e95c5;
}

.listing-item .max_offer {
    border-top: 1px dashed #DDD;
    padding: 5px 0 0px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 5px 0;
    color: #999;
    text-align: center;
}

.listing-item .max_params .bottom_params {
    color: #888;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
}

.listing-item .max_params .bottom_params span {
    font-size: 14px;
}

.listing-item .call_cta .btn {
    font-weight: 700;
    padding: 7px 0;
    width: 200px;
    font-size: 14px;
    color: #fff;
    margin: 0 auto;
}

.call_cta {
    margin-bottom: 10px;
}

.listing-item .btn-success, .listing-item .btn-default {
    display: block;
}

.btn-success {
    color: #FFF;
    background-color: #6bc25d;
    border-color: #6bc25d;
}

.btn {
    padding: 7px 20px;
    font-size: 14px;
    line-height: 1.46666667;
    border-radius: 3px;
    margin: 10px 0;

    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none !important;
    outline: 0 !important;
    outline-offset: 0 !important;
}

.listing-item .cta_button_down {
    margin-top: 10px;
    background-color: #AAA;
    padding: 5px 5px;
    width: 200px;
    font-size: 11px;
    color: #FFF;
    border: 1px solid #AAA;
    font-weight: 700;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    letter-spacing: 0.5px;
}

.btn-default {
    color: #FFF;
    background-color: #AAA;
    border-color: #AAA;
}

.listing-item .offer_inner .news_badge_top {
    display: block;
    position: absolute;
    background-color: #f34a4a;
    padding: 4px 7px;
    text-align: center;
    margin-top: 17px;
    margin-left: -27px;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 9px;
    z-index: 9999;
}

.listing-item .offer_inner .news_badge_top .triangle {
    background: url("../images/new-badge-triangle.png") no-repeat;
    width: 7px;
    height: 7px;
    position: absolute;
    left: 0px;
    top: 21px;
}

.listing-item .tab_content h3 {
    font-size: 14px;
    border-bottom: 1px solid #5e95c5;
    padding-bottom: 3px;
    text-transform: uppercase;
    font-weight: 700;
    color: #5e95c5;
    margin: 0 0 18px 0;
}

.listing-item .tab_content .link_show_mail, .listing-item .tab_content .link_show_phone {
    display: inline-block;
    padding: 0px 5px;
    background-color: rgba(0, 0, 0, 0);
    color: #5e95c5;
    border: 1px solid #5e95c5;
    margin-left: 5px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10px;
    transition: all 0.4s ease;
    cursor: pointer;
    position: relative;
    height: 20px;
    line-height: 20px;
}

.listing-item .tab_content .bank_detail_label,
.listing-item .tab_content .deposit_label {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

.listing-item .tab_content .bank_detail_content table {
    margin-top: 20px;
}

.listing-item .tab_content .bank_detail_content table th {
    font-size: 13px;
    text-align: center;
}

.listing-item .tab_content .bank_detail_content table td {
    text-align: center;
}

.logo_offer img {
    width: 140px;
    margin: 0 auto;
}
