@import "variables";

@font-face {
    font-family: 'iconsRankoFinanse';
    src:    url('../../less/iconsRankoFinanse/iconsRankoFinanse.eot?rtpf02');
    src:    url('../../less/iconsRankoFinanse/iconsRankoFinanse.eot?rtpf02#iefix') format('embedded-opentype'),
        url('../../less/iconsRankoFinanse/iconsRankoFinanse.ttf?rtpf02') format('truetype'),
        url('../../less/iconsRankoFinanse/iconsRankoFinanse.woff?rtpf02') format('woff'),
        url('../../less/iconsRankoFinanse/iconsRankoFinanse.svg?rtpf02#iconsRankoFinanse') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconsRankoFinanse' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-quotes-left {
    &:before {
        content: @icon-quotes-left;
    }
}
.icon-check {
    &:before {
        content: @icon-check;
    }
}
.icon-arrow-right {
    &:before {
        content: @icon-arrow-right;
    }
}
.icon-google-plus {
    &:before {
        content: @icon-google-plus;
    }
}
.icon-facebook {
    &:before {
        content: @icon-facebook;
    }
}
.icon-twitter {
    &:before {
        content: @icon-twitter;
    }
}
