@import "variables";

@font-face {
    font-family: 'rankomatFinanse';
    src:    url('@{$icomoon-font-path}/rankomatFinanse.eot?3sf3d8');
    src:    url('@{$icomoon-font-path}/rankomatFinanse.eot?3sf3d8#iefix') format('embedded-opentype'),
        url('@{$icomoon-font-path}/rankomatFinanse.ttf?3sf3d8') format('truetype'),
        url('@{$icomoon-font-path}/rankomatFinanse.woff?3sf3d8') format('woff'),
        url('@{$icomoon-font-path}/rankomatFinanse.svg?3sf3d8#rankomatFinanse') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'rankomatFinanse' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-check {
    &:before {
        content: @icon-check;
    }
}
.icon-angle-down {
    &:before {
        content: @icon-angle-down;
    }
}

